/* Reseteamos los margenes a 0 */
HTML, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.navbar #myLinks {
  display: none;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navbar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Le devolvemos el margen al resto del cuerpo */
.main {
 margin: 8px 
}

.active {
  background-color: #04AA6D;
  color: white;
}

/* Escritorio: */
@media only screen and (min-width: 768px) {
  .navbar {
    display:none
  }
}
