/* Reseteamos los margenes a 0 */
HTML, body {
  margin: 0px 0px 3vh 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-color: lightgray;
  font-size: 20px;
}

header {
  display: none;
  width: 100%;
  height: 9vh;
  background-image: url("images/mallorca1.jpg");
  background-size: cover;
  background-position: left center;
}

header img{
  height : 100%;
  width : auto;
}

.logo {
  clip-path: circle(50%);  
}

header p{
 margin-left: 10px; 
}

p {
 line-height: 150%;
}

footer {
  background-color: #333;
  text-align: center;
  color: white;
  height: 4vh;
  bottom: 0px;
  margin-bottom: 0px;
  position:fixed;
  width:100%;
  font-size: 12px;
}

footer a{
  color: lightblue;
  text-decoration: none;
}
  
footer img{
  height: 50%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.desktop {
  display: none;
}

.navbar #myLinks {
  display: none;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navbar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Le devolvemos el margen al resto del cuerpo */
.main {
 margin: 8px 
}

.active {
  background-color: #04AA6D;
  color: white;
  pointer-events: none;
  cursor: default;
}

.main-categoria a {
  text-decoration:none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.grid-item {
  height : 100vw; 
  background-size: cover;
  background-position: center;
}

.grid-item:hover {
 opacity: 0.5; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  text-align: left;
}

.palma {
  background-image: url("images/palma1.jpg");
}

.alcudia {
  background-image: url("images/alcudia1.jpg");
}

.andratx {
  background-image: url("images/andratx1.jpg");
}

.soller {
  background-image: url("images/soller1.jpg");
}

.drach {
  background-image: url("images/drach1.jpg");
}

.white {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xxx-large;
  font-weight: bold;
  color: white;
}

.stroke {
  -webkit-text-stroke: 2px black;
}

.carousel {
  margin: auto;
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: 50% -150%;
}

.carousel img{
  width: 150%;
}

.portada {
  margin-bottom: 60px !important;
}

.portada img {
  clip-path: circle(70%);
}

.img-container {
  width: 100%;
  object-fit: cover;
  object-position: 50% -150%;
}

.img-container img{
  width: 100%;
}

.indice_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.indice_titulo {
    font-weight: 700;
    text-align: center;
}

.indice_container li{
    list-style: outside none none !important;
}

.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    max-width: 100%;
}

.video-container iframe, .video-container object, .video-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.detalle-link {
  display: grid;
  grid-template-columns: auto auto;
}

.left-link-item {
  text-align: left;
}

.right-link-item {
  text-align: right;
}

/* Escritorio: */
@media only screen and (min-width: 768px) {
  .mobile {
    display:none;
  }
  
  .desktop {
    display: flex;
    flex-direction: row;
  }
  
  .navbar a {
    float:left;
  }
  
  header {
    display: flex;
    align-items: center
  }
  
  footer {
    height: 3vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .grid-item {
    height : 30vh  
  }
  
  .intro-text {
    text-align: center;
    margin-bottom : 10px;
  }
  
  .carousel {
    margin: auto;
    width: 90%;
    height: 70%;
    padding: 10px; 
  }
  
  .carousel img{
    width: 100%;
  }
}
